<div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light border-top">
        <img src="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659651_960_720.png" style="width: 50px;">
        Welcome user
    </a>
    <a routerLink="/admin/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action bg-light">Dashboard</a>
    <a routerLink="/admin/users" class="list-group-item list-group-item-action bg-light">User</a>
    <a routerLink="/admin/employees" class="list-group-item list-group-item-action bg-light">Employees</a>
    <a routerLink="/" class="list-group-item list-group-item-action bg-light">Events</a>
    <a routerLink="/" class="list-group-item list-group-item-action bg-light">Profile</a>
    <a routerLink="/" class="list-group-item list-group-item-action bg-light">Status</a>
</div>
