<nav aria-label="breadcrumb bg-white">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header ">
        <h2 class="w-75 float-left">User</h2>
        <h2 class="text-right float-right">
            <button mat-raised-button color="primary" routerLink="/users/create"><mat-icon>person_add</mat-icon></button>
        </h2>
    </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>
                            <button mat-raised-button color="" routerLink="/users/edit"><mat-icon>edit</mat-icon></button>
                            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <button mat-raised-button color="" routerLink="/users/edit"><mat-icon>edit</mat-icon></button>
                            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <button mat-raised-button color="" routerLink="/users/edit"><mat-icon>edit</mat-icon></button>
                            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>